.loadMoreBtn{
    background-color: rgb(74, 74, 194);
    font-size: 16px;
    font-weight: 600;
    color: #fafafa;
    padding: 20px 30px;
    border: none;
    display: block;
    margin: 50px auto;
}